<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head lang="en">
    <title>Products</title>
    <th:block th:include="layout/header"></th:block>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css" />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
</head>
<body>

<div class="container">
    <div th:if="${not #lists.isEmpty(products)}">
        <h2>All Products</h2>
        <table class="table table-striped">
            <tr>
                <th>Name</th>
                <th>Description</th>
                <th>Type</th>
                <th>Category</th>
                <th>Price</th>
                <th>Delete</th>
            </tr>
            <tr th:each="product : ${products}">
                <td th:text="${product.name}">Name</td>
                <td th:text="${product.description}">Description</td>
                <td th:text="${product.type}">Type</td>
                <td th:text="${product.category}">Category</td>
                <td th:text="${product.price}">Price</td>
                <td><a th:href="${'/products/delete/' + product.id}" class="btn btn-danger">Delete</a></td>
            </tr>
        </table>
    </div>

    <div>
            <!-- Trigger the modal with a button -->
            <a th:href="${'/products/total'}" type="button" class="btn btn-success" data-toggle="modal" data-target="#myModal">Total</a>

            <!-- Modal -->
            <div class="modal fade" id="myModal" role="dialog">
                <div class="modal-dialog modal-sm">
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal">&times;</button>
                            <h4 class="modal-title">Modal Header</h4>
                        </div>
                        <div class="modal-body">
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                        </div>
                    </div>
                </div>
            </div>

    </div>

</div>

</body>
</html>